<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add
		name="GWES_connectionString"
		connectionString="Persist Security Info=False;Initial Catalog=GWES_Public_268_SP11;Data Source=IRIS1\SQL2016;User ID=truser;Password=truser;Connect Timeout=0;"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>